#title {
    padding: 10px;
    /* 添加一些内边距 */
    padding-left: 0;
    /* 去掉左边的padding */
    display: flex;
    /* 使用flex布局 */
    align-items: center;
    /* 垂直居中 */
}

#title h2 {
    margin-top: 0;
    margin-left: 10px;
    /* 将 h2 移动到距离左边框 10px 处 */
}

#selectFace {
    padding: 10px;
    /* 添加一些内边距 */
    padding-left: 0;
    /* 去掉左边的padding */
    align-items: center;
    /* 垂直居中 */
    border: 1px solid #000;
    margin-left: 10px;
}

#selectmenu {
    padding: 10px;
    /* 添加一些内边距 */
    padding-left: 0;
    /* 去掉左边的padding */
    display: flex;
    /* 使用flex布局 */
    align-items: center;
    /* 垂直居中 */
    margin-left: 10px;
}

#selectmenu span {
    margin-left: 10px;
}

#selectdiffculty {
    margin-left: 20px;
}

#laberShowbutton {
    margin-left: 20px;
    width: 100px;
    background-color: transparent !important;
    border-color: #dcdfe6 !important;
    /* 设置边框颜色 */
    color: inherit !important;
}

.select-label-container {
    display: flex;
    flex-wrap: wrap;
}

.label-group {
    display: flex;
    align-items: center;
    margin-right: 10px;
    /* 调整标签组之间的间距 */
}

.selectLabelSpan {
    margin-right: 5px;
    /* 调整标签和按钮之间的间距 */
}

#searchInput {
    display: flex;
    align-items: center;
}

#searchInputText {
    margin-left: 20px;
    /* 间隔 20px */
}

#showSelect {
    padding: 10px;
    /* 添加一些内边距 */
    padding-left: 0;
    /* 去掉左边的padding */
    display: flex;
    /* 使用flex布局 */
    align-items: center;
    /* 垂直居中 */
    margin-left: 10px;
}

#showSelect span {
    margin-left: 10px;
    margin-right: 10px;
}

#showSelectButton {
    margin-left: 10px;
}

#questionMenu {
    padding: 10px;
    /* 添加一些内边距 */
    padding-left: 0;
    /* 去掉左边的padding */
    align-items: center;
    /* 垂直居中 */
    border: 1px solid #000;
    margin-left: 10px;
    margin-top: 30px;
}