#Title {
    /* 固定定位 */
    position: fixed;
    top : 0;
    left: 0;
    right: 0;
    /*widows: 100%;*/
    /* 上下、左右内边距 */
    padding-left: 20px ;
    /* 弹性布局 */
    display: flex;
    border:1px solid #000
}

#Title h1 {
    color: #18183f;
}
/* 导航栏整体样式 */
.navbar {
    overflow: hidden;      /* 防止内容溢出 */
    position: absolute;    /* 使导航栏绝对定位 */
    right: 20px;           /* 设置导航栏距离右边框 20px */
    top: 0;                /* 设置导航栏距离顶部 0px */
  }
  
  /* 导航栏中的无序列表样式 */
  .navbar ul {
    list-style-type: none; /* 移除列表项的默认样式 */
    margin: 0;             /* 去除默认的外边距 */
    padding: 0;            /* 去除默认的内边距 */
  }
  
  /* 列表项样式 */
  .navbar li {
    float: left; /* 使列表项水平排列 */
  }
  
  /* 列表项中的链接样式 */
  .navbar li a {
    display: block;           /* 将链接设置为块级元素 */
    color: #18183f;       /* 设置链接文本颜色为白色 */
    text-align: center;       /* 设置链接文本居中对齐 */
    padding: 14px 16px;       /* 设置链接的内边距 */
    text-decoration: none;    /* 移除链接的下划线 */
    font-size: 20px;          /*字体大小*/
  }
  
  /* 列表项中的链接在悬停时的样式 */
  .navbar li a:hover {
    color: aqua;         /*悬停时字体颜色改变*/ 
  }